diffusers==0.30.0
pytorch-lightning
av
datasets
moviepy
pyngrok
lightning
huggingface_hub[hf_transfer]
accelerate==0.31.0
prettytable
hf_transfer
bitsandbytes
open-clip-torch==2.24.0
omegaconf
einops
timm
kornia
objgraph
python-utils
decord
gdown
tqdm